html {
  overflow: hidden;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 50% 50%;
}

.content-left {
  grid-column: 1;
  margin: 150px 30px 0;
  text-align: right;
}

.content-left img {
  border-radius: 25%;
}

.content-right {
  grid-column: 2;
  line-height: 2em;
  margin: 150px 50% 0 0;
}

.content-right a {
  color: black;
  text-decoration: none;
}

.content-right a:hover {
  font-weight: bold;
}

footer {
  bottom: 0;
  padding: 10px 30px;
  position: fixed;
  width: 100%;
}

@media (max-width: 600px) {
  .container {
    grid-template-columns: 100%;
    grid-template-rows: 400px 200px;
  }

  .content-left {
    grid-row: 1;
    margin: 50px 0;
    text-align: center;
  }

  .content-right {
    grid-column: 1;
    grid-row: 2;
    margin: 0 35px;
  }

  .content-right p {
    margin: 0;
  }

  .content-right a {
    text-decoration: underline;
  }
}
